.ant-card {
    margin: 15px;
}

.ant-card-body > label {
    display: block;
}

.ant-checkbox-wrapper {
    margin-left: 0px;
}

.ant-checkbox-group-item {
    display: block;
}

.ant-typography {
    display: block;
}