.ant-layout-header {
  padding: 0 15vw;
  font-weight: 600;
}
.logo {
  background: rgba(255, 255, 255, 0.2);
  float: left;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: auto;
  line-height: 160px;
  background: #364d79;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}